---
layout: default
---

<div class="home">

  {{ content }}

  <h1 class="page-heading">Reports by jobset</h1>

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {% assign categories = site.categories | sort %}
      {%- for category in categories -%}
      <li>
        <details>
          <summary>{{ category[0] }}</summary>
          <ul class="post-list">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {%- for post in category[1] -%}
            <li>
              <span class="post-meta">{{ post.date | date: date_format }}</span>
              <h4>
                <a class="post-link" href="{{ post.url | relative_url }}">
                  {{ post.title | escape }}
                </a>
              </h4>
            </li>
            {%- endfor -%}
          </ul>
        </details>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
