name: Generate reports

on:
  # Run if files that could be relevant change.
  push:
    branches:
    - master
    paths:
    - flake.*
    - .github/workflows/gen-report.yml
    - .github/workflows/gen-reports.yml

  # Run hourly.
  schedule:
   - cron: '0 */1 * * *'

jobs:
  generate-reports:
    strategy:
      fail-fast: false
      matrix:
        include:
          - project: nixpkgs
            jobset: trunk
          - project: nixpkgs
            jobset: nixpkgs-22.11-darwin

          - project: nixpkgs
            jobset: haskell-updates
          - project: nixpkgs
            jobset: python-updates

          - project: nixpkgs
            jobset: staging-next
          - project: nixpkgs
            jobset: staging-next-22.11

          - project: nixos
            jobset: trunk-combined
          - project: nixos
            jobset: release-22.11

    name: ${{ matrix.project }}:${{ matrix.jobset }}
    uses: ./.github/workflows/gen-report.yml
    with:
      project: ${{ matrix.project }}
      jobset: ${{ matrix.jobset }}
